.text{
  background-color: #AFEEEE;
}

.color1 {
  color: rgb(13 , 48, 130);
  font-style: italic;
}

.chapter {
  text-align: center;
  text-decoration: underline;
}

.color2 {
  color: darkgreen;
  font-weight: 700;
}

.color3 {
  color: darkolivegreen;
}

.color4 {
  color: #B8860B;
}

.color5 {
  color: #8B4513;
}

.color6 {
  color: #8B0000;
}

header {
  margin-left: 3em;
  margin-right: auto;
  width: 60em;
  font-size: x-large;
}

main {
  width: 65em;
  font-size: large;
  margin-left: 10em;
  margin-right: auto;
}

.content {
  font-size: x-large;
  position: fixed;
  right: 1px;
  width: 15em;
  color: burlywood;
}
